n8n/session_summary.json
{
  "name": "ClaudeTrader Session Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 19 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-close",
      "name": "Daily 21:15 CET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "21:15 CET ≈ 19:15 UTC (adjust for DST)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8787/summary",
        "options": {
          "timeout": 60000
        }
      },
      "id": "fetch-summary",
      "name": "Fetch Session Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300],
      "notes": "Uses session_summary via HTTP trigger — no extra cycle run"
    },
    {
      "parameters": {
        "message": "={{ $json.report }}"
      },
      "id": "push-report",
      "name": "Push Report",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [720, 300],
      "notes": "Wire to Slack/email node in production"
    }
  ],
  "connections": {
    "Daily 21:15 CET": {
      "main": [[{"node": "Fetch Session Summary", "type": "main", "index": 0}]]
    },
    "Fetch Session Summary": {
      "main": [[{"node": "Push Report", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "End-of-session P&L summary fired at 21:15 CET Mon-Fri via GET /summary."
  }
}
